$dark-background: #862125;

body {
    overflow-x: hidden;
}

.main-frame {
    height: 100vh;
}

.login-label {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    font-family: sans-serif;
}

.form-group  {
    .login-input {
        background: #EAEAEA;
    }

    .btn-orange {
        color: #fff;
        background-color: #FB8C00;
        border-color: #FB8C00;
        font-weight: bold;
    }
    
    .form-check-input {
        position: relative;
    }

    .btn-link {
        float: right;
        padding: 0;
    }

    .side-btn {
        border-color: white;
        color: white;
        margin-top: 1.5em;
    }
}

.btn:hover {
    color: gray;
}

.vertical-center {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 40em;
}

.logo-padding {
    padding-left: 2em;
    font-size: 80%;
}

.dark-background {
    background: $dark-background;
}

.login-section {
    width: inherit;
}

.side-head {
    font-size: 2.2em;
    font-weight: bold;
    font-family: sans-serif;
}

.side-text {
    text-align: center;
    color: white;
    margin: auto;
    line-height: normal;
}

.side-top {
    margin-top: 2em;
    position: absolute;
    top: 0;
}

.side-bottom {
    margin-bottom: 2em;
    position: absolute;
    bottom: 0;
    line-height: normal;
}

.products-grid {
    margin-top: 2em;
    padding-left: 6em;
    padding-right: 6em;
    
    .product-card {
        width: 18em;
        padding: 0;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .page-link {
        border: 0;
        color: gray;
    }
    .page-item.active{
        background: white;
        .page-link { 
            background-color: $dark-background;
            border-radius: 3em;
            line-height: 0.6em;
            padding: 0.4em;
            margin: 0.4em;
        }
    }

}

.products-grid.row {
    min-height: 30em;
}

.products-list-page {
    max-width: 70em;
    margin: 0 auto;
    background: #F5F5F5;
}

.products-container {
    background: #FAFAFA;
}

.product-item {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1.3em;
}

.product-text {
    color: #A0A0A0;
    line-height: 100%;
    margin-bottom: 1.2em;
}

.product-name {
    color: black;
    text-align: center;
    margin-bottom: 0.6em;
    font-weight: bolder;
    font-size: 1.1em;
    font-family: sans-serif;
}

.product-image {
    max-height: 12em;
    max-width: 4.8em;
    margin-bottom: 0.3em;
}

.product-link {
    background: orange;
    color: white;
    border: 0;
    height: 2.4em;
    line-height: 100%;
    border-radius: 0.3em;
}

.product-head-banner {
    background: #862125;
}

.product-subhead-banner {
    background: #711B1F;
    color: white;
    padding: 0.4em;
    padding-left: 1.1em;
}

.top-nav {
    display: flex;
    justify-content: flex-start;
    padding: 1em 0;
    margin: 0;
}

.top-nav-left {
    display: flex;
    align-items: center;
    min-height: 6em;
}

.product-image-wrap {
    height: 12.5em;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

#middle-drop-down {
    background: orange;
    color: white;
}

.top-nav-mid {
    padding-right: 0;
}

.top-nav-right {
    padding: 0;
    display: flex;
    height: 2.7em;
}

.top-nav-mid-top {
    display: flex;
    height: 2.7em;
    min-width: 100%;
    .nav-link {
        padding: 0;
        padding-left: 0.5em;
        width: 7em;
    }
    .search-bar {
        max-width: 80%;
        display: contents;
        input {
            height: 100%;
            width: 51vw;
            max-width: 83%;
            vertical-align: top;
            padding-left: 1em;
            background-color: rgba(255,255, 255, 0.2);
            color: white;
            margin-right: 1em;
            padding-right: 3em;
        }
        .scope {
            float: right;
            margin-left: -2em;
            margin-top: 0.3em;
            position: relative;
            z-index: 2;
            color: white;
            font-size: 1.6em;
        }
        ::placeholder {
            color: white;
        }
    }
}

.top-nav-mid-bottom {
    color: white;
    font-weight: bold;
    span {
        padding: 1em;
    }
}

.vertical-bar {
    width: 0.1em;
    height: 2em;
    background: white;
    margin-left: 1em;
    margin-top: 0.3em;
}

.top-nav-right-group {
    line-height: 1.2em;
    margin-top: 0.2em;
    margin-right: 0.2em;
    .top-nav-right-group-text {
        padding: 0;
        padding-left: 0.5em;
        color: white;
        font-weight: bold;
    }

    .nav-link {
        font-size: smaller;
    }
}

.bottom-line {
    width: 95%;
    background: white;
}

.product-footer {
    position: relative;
    color: white;
    .year {
        position: absolute;
        bottom: 0.1em;
    }
    .contact {
        position: absolute;
        bottom: 0.1em;
        right: 2em;
    }
}